.nav {
    order: 0;
    flex-grow: 2;
    align-self: stretch;
    border-right: 1px solid;
    min-width: 200px;
    height: inherit;
    overflow: auto;
}

.content {
    order: 1;
    flex-grow: 4;
    height: inherit;
    margin: 16px;
    margin-right: 0px;
    overflow-y: auto;
}

.right {
    order: 2;
    flex-grow: 1;
}

.docs {
    display: flex;
    align-items: stretch;
    height: inherit;
}