.layout {
    justify-content: space-between;
    height: 100vh;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .login {
            display: flex;
        }
    }

    .content {
        padding: 16px;
        height: calc(100vh - 132px);
        background-color: #ffffff;
    }

    .footer {
        text-align: center;
    }
}

.uiLayout {
    display: grid;
    grid-template-rows: 64px auto 64px;
    grid-template-columns: auto;
    height: 100vh;
    place-content: stretch;

    .header {
        background-color: beige;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;


    }

    .header div {
        width: 64px;
        text-align: center;
    }

    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden;
        align-items: flex-start;
        justify-content: flex-start;
        height: calc(100vh - 160px);
        margin: 24px;
        margin-right: 0px;
    }

    .footer {
        align-self: center;
        justify-self: center;
    }
}