.layout {
    justify-content: space-between;
    height: 100vh;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .login {
            display: flex;
        }
    }

    .content {
        padding: 16px;
        height: calc(100vh - 132px);
        background-color: #ffffff;
    }

    .footer {
        text-align: center;
    }
}