.layout {
    justify-content: space-between;
    height: 100vh;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .login {
            display: flex;
        }
    }

    .content {
        padding: 50px;
        background-color: $colorBgContainer
    }

    .footer {
        text-align: center;
    }
}